.management-section .admin-card:hover i {
    color: var(--gold);
    transform: rotate(5deg) translateY(-5px);
}

.management-section .admin-card:hover {
 
    transform: scale(1.05);

    border: 1px solid var(--blonde);
}

.svg-icons {
    display: block;
    margin: 0 auto 10px auto;
    width: 50px;
    height: 50px;
    fill: var(--gold);
    transition: fill 2s ease, transform 0.3s ease;
    transform-box: fill-box;
    transform-origin: center;
  }
  
  
  .svg-border {
    fill: var(--gold);
    transition: fill 2s ease-in-out, transform 0.3s ease; 
  }
  
  .admin-card:hover .svg-border {
    fill: gold;
    transform: none;
  }
  
  .admin-card:hover .svg-icons {
    fill:gold;
    transform: rotate(5deg) translateY(-4px);
  }
  
 

  